/* Importing Custom Fonts */
@font-face {
  font-family: "That That Ascii";
  src: url(../fontFace/ThatThatAscii-Regular.otf);
}
/* Reset Dafaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Setting Defaults */
body {
  font-family: "That That Ascii", sans-serif;
  overflow-x: hidden;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  color: #ffffff;
}
/* CSS Start */

/* Header */
#main-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  padding: 0 5%;
  z-index: 999;
  background-color: transparent;
}
.logo a {
  font-size: 1.5rem;
  color: #00cc52;
  padding: 0.2rem 1rem;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.nav-links a {
  color: rgb(0, 204, 82);
  padding: 1rem 2rem;
  margin-right: 1.5rem;
  transition: all 0.2s ease-out;
}
.nav-links a:hover {
  /* border-bottom: 2px solid #00cc52; */
  color: rgb(0, 163, 65);
  background-color: rgba(3, 145, 59, 0.1);
  border-radius: 6px;

  transition: all 0.2s ease-in;
}
.burger-menu {
  display: none;
  cursor: pointer;
}
.burger-menu div {
  width: 1.563rem;
  height: 0.188rem;
  background-color: #00cc52;
  margin: 0.313rem;
  transition: all 0.3s ease;
}
body {
  position: relative;
  top: 0;
  left: 0;
  background-color: #22212c;
}
#hero {
  min-height: 115vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: fill;
}
#hero h1 {
  text-align: center;
  color: #ffffff;
  font-size: 4.5rem;
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-container a {
  margin-top: 2rem;
  font-size: 2.5rem;
  color: #00cc52;
}

/* experience */
#experience {
  margin: 2rem 1rem;
  padding: 3rem;
  text-align: center;
  margin: 0 auto;
  min-height: 20vh;
}
#experience h3 {
  font-size: 3rem;
  color: #ffffff;
}
#experience p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.502);
}
.experience-logo-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.experience-logo-container img {
  margin: 1rem 1.3rem;
}
/* Hero  */
#hero h1 {
  font-size: 3rem;
}
#experience h3 {
  font-size: 1.9rem;
}
/* About */
#about {
  background: url("../images/ellipse.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 80vh;
  padding: 5rem 2rem;
}
.about-container {
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-container img {
  width: 40%;
}
.about-container p {
  width: 50%;
  text-align: justify;
  font-size: 1.2rem;
  padding: 1rem 2rem;
}
/* landing page */
.about-image {
  width: 60%;
  margin: 12rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-image img {
  width: 100%;
  object-fit: cover;
}
/* WORK */
#work {
  min-height: 100vh;
  margin: 3rem 1rem;
  margin: 0 auto;
}
.title {
  font-size: 4rem;
  color: #00cc52;
  text-align: center;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
}
.work-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  object-fit: cover;
}

/* UI/UX */
#ui-ux {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ui-ux-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #00cc52;
  margin: 2rem 0.2rem;
}
.ui-ux-container:nth-last-of-type(1),
.ui-ux-container:nth-last-of-type(3) {
  flex-direction: row-reverse;
}
.ui-ux-container .ui-ux-img {
  background-color: #00cc52;
  padding: 2rem;
}
.ui-ux-img img {
  width: 100%;
  object-fit: cover;
}
.ui-ux-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.ui-ux-text p {
  font-size: 1.2rem;
  padding: 1rem;
  text-align: justify;
}
.ui-ux-text a {
  color: #00cc52;
  font-size: 2rem;
  margin-right: 2rem;
}

/* footer */
footer {
  margin: 2rem 0rem;
}
.footer-container {
  margin: 0 auto;
  width: 60%;
}
footer h4 {
  color: #ffffff;
  font-size: 1.5rem;
}
.footer-container a {
  color: #00cc52;
  font-size: 4rem;
  transition: all 0.3s ease-out;
}
.footer-container a:hover {
  color: rgba(0, 204, 82, 0.438);
  transition: all 0.3s ease-in;
}
.footer-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0rem;
  border-bottom: 2px solid #636364;
}
.footer-container ul a {
  padding: 1rem 2rem;
  margin-right: 0.5rem;
  color: #00cc52;
  font-size: 1rem;
  transition: all 0.3s ease-out;
}
.footer-container ul a:hover {
  color: rgba(0, 204, 82, 0.438);
  transition: all 0.3s ease-in;
}
.footer-bottom-text {
  margin: 2rem auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* !Responsive  */
@media (max-width: 46.125rem) {
  /* body */
  body {
    overflow-x: hidden;
  }
  /* navbar */
  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #22212c;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger-menu {
    display: block;
  }
  /* Expericence */
  .experience-logo-container {
    flex-direction: column;
  }
  /* About */
  .about-container {
    flex-direction: column;
    width: 90%;
  }
  .about-container img {
    width: 60%;
  }
  .about-container p {
    font-size: 1rem;
    width: 100%;
  }
  
  /* Work */

  #work img {
    width: 90%;
    /* object-fit: cover; */
  }
  .about-image {
    margin: 8rem auto;
    width: 90%;
  }
  /* UI/UX */
  .ui-ux-container {
    flex-direction: column;
  }
  .ui-ux-container:nth-last-of-type(1),
  .ui-ux-container:nth-last-of-type(3) {
    flex-direction: column;
  }
  .ui-ux-img {
    width: 100%;
  }
  .ui-ux-img img {
    width: 100%;
    object-fit: cover;
  }
  /* footer */
  .footer-container {
    width: 90%;
  }
  .footer-container a {
    font-size: 2rem;
  }
  .footer-container ul {
    flex-direction: column;
  }
  .footer-container ul li {
    margin: 1rem 0rem;
  }
  .footer-container ul a {
    font-size: 1rem;
  }

  .footer-bottom-text {
    width: 100%;
  }
}

/* MOBILE  */
@media (max-width: 30rem) {
  /* Hero */
  #hero h1 {
    font-size: 1.5rem;
  }

  /* Expericence */
  #experience h3 {
    font-size: 1rem;
  }
  .experience-logo-container img {
    width: 40%;
  }
  #experience p {
    font-size: 1rem;
  }
  /* About */
  .about-container {
    width: 90%;
  }
  .about-container img {
    width: 60%;
  }
  .about-container p {
    font-size: 0.8rem;
    width: 100%;
  }
  .about-image {
    margin: 3rem auto;
  }

  /* footer */
  .footer-container a {
    font-size: 1.5rem;
  }
  .footer-container h4 {
    font-size: 0.9rem;
  }
  .footer-bottom-text {
    font-size: 0.9rem;
  }
}

.nav-active {
  transform: translateX(0);
}
/* Burger Menu */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line-1 {
  transform: rotate(-45deg) translate(-0.3rem, 0.4rem);
}
.toggle .line-2 {
  opacity: 0;
}
.toggle .line-3 {
  transform: rotate(45deg) translate(-0.3rem, -0.4rem);
}
